body {
	background-image:url(img/bg.png);
	background-repeat:repeat;
}

#header {
	width: 100%;
	height: 120px;
	background-image:url(img/bg.png);
	background-repeat:repeat;
	position: fixed;
	margin-top: 0px;
	z-index: 1;
	border-bottom: 1px solid #ffffff;
}

.wrapper {
	width: 940px;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	padding-top: 130px;
}

.line {
	width: 850px; 
	/*height: 300px;*/
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.line_small {
	width: 850px; 
	height: 50px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}

.pie {
	width: 425px; 
	margin-top: 50px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
}

.dashboard {
	border: 1px solid #dcdcdc;
	margin-top: 25px;
	background-color: #ffffff;
}

.btn-group, .graficar, .criterio {
	margin-top: 8px;
	margin-left: 8px;
	margin-bottom: 8px;
	float: left;
}

input[type="text"] {
	border: 1px solid #515151 !important;
	color: #515151;

}



.shadow_inset{
	-webkit-box-shadow:inset 0 4px 58px rgba(0, 0, 0, 0.25),0 2px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 4px 58px rgba(0, 0, 0, 0.25),0 2px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 4px 58px rgba(0, 0, 0, 0.25),0 2px 2px rgba(0, 0, 0, 0.05);
	text-shadow:#666 1px;	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}
